<%-include ("partials/header.ejs");%>
<body>
  <%- include ("partials/navbar.ejs");%>
  <div class="container">
    <hr />
    <h1>Ooops, é necessário ter mais de 18 anos para realizar um lance.</h1>
    <hr />
    <a href="/pessoa">
      <button class="btn btn-success">Voltar</button>
    </a>
  </div>
</body>
